<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/style.css">
</head>
<body>
  <main>
    <h1>{{ SITENAME }}</h1>
    {% block content %}{% endblock %}
  </main>
  <footer>
	<p>&copy; {{ SITEYEAR }} {{ SITENAME }} — <a href="/vision/">vision</a> — <a href="mailto:ivan@ramblin.dev">ivan@ramblin.dev</a></p>
  </footer>
</body>
</html>
